	<!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Centralina meteo Via Ubertini Arezzo</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if locals[:page] == "home.html" %> <li class="active"> <% else %> <li> <% end %>
						<a href="/">Live data</a></li>

						<% if locals[:page] == "tempmaxmin.html" %> <li class="active"> <% else %> <li> <% end %>
						<a href="tempmaxmin.html">Max & Min oggi</a></li>

						<% if locals[:page] == "calendar.html" %> <li class="active"> <% else %> <li> <% end %>
						<a href="calendar.html">Calendario</a></li>

						<% if locals[:page] == "last24hr.html" %> <li class="active dropdown"> <% else %> <li class="dropdown"> <% end %>
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dati centralina <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Ultime 24 Hr</li>
								<li><a href="last24hr.html">Temperatura</a></li>
								<li><a href="last24hrumi.html">Umidit&agrave;</a></li>
								<li><a href="last24hrpr.html">Pressione</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Ultime 48 ore</li>
								<li><a href="last48hr.html">Temperatura</a></li>
								<li><a href="last48hrumi.html">Umidit&agrave;</a></li>
								<li><a href="last48hrpr.html">Pressione</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Precipitazioni vs Temperature medie</li>
								<li><a href="rainfall.html?days=10&datelength=10">Ultimi 10 giorni</a></li>
								<li><a href="rainfall.html?days=30&datelength=10">Ultimi 30 giorni</a></li>
								<li><a href="rainfall.html?days=45&datelength=10">Ultimi 45 giorni</a></li>
								<li><a href="rainfall.html?days=60&datelength=10">Ultimi 60 giorni</a></li>
								<li><a href="rainfall.html?days=100&datelength=10">Ultimi 100 giorni</a></li>
								<li><a href="rainfall.html?days=1&datelength=7&timeunit=3">Ultimo mese</a></li>
								<li><a href="rainfall.html?days=2&datelength=7&timeunit=3">Ultimi 2 mesi</a></li>
								<li><a href="rainfall.html?days=3&datelength=7&timeunit=3">Ultimi 3 mesi</a></li>
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
