<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Centralina meteo ozzyboshi.com">
		<meta name="author" content="Alessio Garzi">
		<title>Centralina meteo Ozzyboshi</title>
		
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/css/animsition.min.css">
		
		<style >
			img  {
				width: 100%;
				height:100px;
				z-index:-1000;
				position:absolute;
				top:0px;
				left:0px;
			}
			canvas {	
				z-index:-900;
				margin-left:auto;
				margin-right:auto;
			}
			
		</style>
	</head>
	
	<body>
		<%= render 'navbar', :locals => {:page => 'home.html'} %>
		
		<img id="background" alt="background" src=""/>
		<div id=container class="container animsition">
			
			<h4>ULTIMO AGGIORNAMENTO : <quote id=data></quote><br><br><a id=dataswatch href="http://www.swatch.com/en/internet-time"></a></h4>
		
			<div  class="row">
				<!-- Inizio temperatura esterna -->
				<div class="col-sm-3">
					<h4>Temperatura esterna</h4>
					<div id="termometroesterno" class=termometro></div><br>
					<p class=termometrodesc><h4><span id=tempesterna></span></h4>
				</div>
			
				<!-- Inizio temperatura interna -->
				<div class="col-sm-3">
					<h4>Temperatura interna</h4>
					<div id="termometrointerno" class=termometro></div><br>
					<p class=termometrodesc><h4><span id=tempinterna></span></h4>
				</div>
			
				<!-- Inizio umidita esterna -->
				<div class="col-sm-3">
					<h4>Umidita esterna</h4>
					<div id="gaugeumiditaesterna" class=gauge></div><br>
					<p class=termometrodesc><h4><span id=umiesterna><span></h4>
				</div>
			
				<!-- Inizio umidita interna -->
				<div class="col-sm-3">
					<h4>Umidita interna</h4>
					<div id="gaugeumiditainterna" class=gauge></div><br>
					<p class=termometrodesc><h4><span id=umiinterna></span></h4>
				</div>
			</div>

			<div class="row">
				<!-- Inizio pressione -->
				<div class="col-sm-3">
					<h4>Pressione</h4>
					<div id="gaugepressione" class=gauge></div><br>
					<p class=termometrodesc><h4><span id=pressione></span></h4>
				</div>
			
				<!-- Inizio vento -->
				<div class="col-sm-3">
					<h4>Vento</h4>
					<div id="gaugevento" class=gauge></div><br>
					<p class=termometrodesc><h4>Vento Medio : <span id=ventomedio></span></h4>
					<p class=termometrodesc><h4>Vento Raffica : <span id=ventoraffica></span></h4>
				</div>
			
				<!-- Inizio pioggia -->
				<div class="col-sm-3">
					<h4>Pioggia</h4>
					<div id="termometropioggia" class=termometro></div><br>
					<p class=termometrodesc><h4>Pioggia di oggi : <span id=pioggiamezzanotte></span></h4>
				</div>
				<!-- Inizio temperatura percepita indice humex -->
				<div class="col-sm-3">
					<h4>Indice Humidex</h4>
					 <div id="humidex" class=termometro></div><br>
					 <p class=termometrodesc><h4><span id=humidexdesc></span></h4>
				</div>
			</div>
		</div>
	
		<%= render "footer" %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		
		<script src="scripts/gettheme.js"></script>
		<script src="jqwidgets/jqxcore.js"></script>
		<script src="jqwidgets/jqxdata.js"></script>
		<script src="jqwidgets/jqxexpander.js"></script>
		<script src="jqwidgets/jqxchart.js"></script>
		<script src="jqwidgets/jqxgauge.js"></script>
		<script src="jqwidgets/jqxtabs.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/js/jquery.animsition.min.js"></script>
		<script src="./js/rainyday.js"></script>
		<script src="./js/home.js"></script>
    </body>
</html>
