var precipitazionichart;

$( document ).ready(
	function () {
		$(".animsition").animsition(
		{
			inClass			:	'fade-in',
			outClass		:	'fade-out',
			inDuration		:	1500,
			outDuration		:	800,
			linkElement		:	'.animsition-link',
			loading			:	true,
			loadingParentElement	:	'body', //animsition wrapper element
			loadingClass			:	'animsition-loading',
			unSupportCss			: [ 'animation-duration','-webkit-animation-duration','-o-animation-duration'],

			overlay					:	false,
			overlayClass			:	'animsition-overlay-slide',
			overlayParentElement  :   'body'
		});
		
		var chart;
		$(function () {
			precipitazionichart = new Highcharts.Chart({
			//$('#container').highcharts({
				chart: {
					renderTo: 'container',
					zoomType: 'xy'
				},
				title: {
					text: 'Precipitazioni vs Temperatura Media ultimi <%= params[:days] %><% if params[:timeunit]=="3" then %> Mesi<% else %><% if params[:timeunit]=="2" then %> Ore <% else %> Giorni <% end %> <% end %>'
				},
				yAxis: [{ // Primary yAxis
					labels: {
						format: '{value} °C',
						style: {
							color: Highcharts.getOptions().colors[1]
						}
					},
					title: {
						text: 'Temperature',
						style: {
							color: Highcharts.getOptions().colors[1]
						}
					}
				}, { // Secondary yAxis
					title: {
						text: 'Rainfall',
						style: {
							color: Highcharts.getOptions().colors[0]
						}
					},
					labels: {
						format: '{value} mm',
						style: {
							color: Highcharts.getOptions().colors[0]
						}
					},
					opposite: true
				}],

				tooltip: {
					shared: true
				},
				series: [{
					name: 'Precipitazioni',
					type: 'column',
					yAxis: 1,
					tooltip: {
						pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f} mm</b> '
					}
				}, {
					name: 'Temperatura media',
					type: 'spline',
					tooltip: {
						pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}°C</b> '
					}
				}]
			});
		});	
		handleRefresh1();
	}
);


function handleRefresh1()
{
	var url ="http://meteo.ozzyboshi.com:8888/WeatherStation/MeteoServices/Readings/LastRainfallsAndAvgTemp/updateMeteo?days=<%= params[:days] %>&datelength=<%= params[:datelength] %>&timeunit=<%= params[:timeunit] %>";
	var newScriptElement = document.createElement("script");
	newScriptElement.setAttribute("src",url);
	newScriptElement.setAttribute("id","jsonp");
			
	var oldScriptElement = document.getElementById("jsonp");
	var head = document.getElementsByTagName("head")[0];
	if (oldScriptElement == null) {
		head.appendChild(newScriptElement);
	}
	else
	{
		head.replaceChild(newScriptElement, oldScriptElement);	
	}
}


function updateMeteo(letture) 
{
	var array = new Array();
	var array2 = new Array();
	var array3 = new Array();
	
	for (var i=0;i<letture.length;i++)
	{
		var date = new Date(String(letture[i].data).replace(" ","T")+"Z");
		array[i]=letture[i].data;
		array2[i]=eval(letture[i].pioggia);
		array3[i]=eval(letture[i].temp_esterna_media);
	}
	
	precipitazionichart.xAxis[0].setCategories(array.reverse(),true);
	precipitazionichart.series[0].setData(array2.reverse(),true);
	precipitazionichart.series[1].setData(array3.reverse(),true);
}


