<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Centralina meteo ozzyboshi.com">
		<meta name="author" content="Alessio Garzi">
		<title>Centralina meteo Ozzyboshi</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/css/animsition.min.css">

		<style>
		body
		  {
		  	background-image: url("images/background.jpg");
		  	background-repeat: no-repeat;
		  	background-size: 100% 100%;
		  }
		</style>
	</head>
	<body>
		<%= render 'navbar', :locals => {:page => 'tempmaxmin.html'} %>
		<br>
		<br>
		<div class="container animsition">
			<div class="row">
				<!-- Inizio temperatura massima esterna -->
				<div class="col-sm-6">
					<h3>Temperatura massima esterna</h3>
					<div id="termometromax" class=termometro></div><br>
					<p class=termometro><h4><span id="termometromaxdesc"></span>
						<br>
						<span id="termometromaxdescswatch"></span></h4>
				</div>
				
				<!-- Inizio temperatura minima interna -->
				<div class="col-sm-6">
					<h3>Temperatura minima esterna</h3>
					<div id="termometromin" class=termometro></div><br>
					<p class=termometrodesc><h4> <span id="termometromindesc"></span>
						<br>
						<span id="termometromindescswatch"></span></h4>
				</div>
			</div>

			<div class="row">
				<!-- Inizio temperatura massima esterna -->
				<div class="col-sm-6">
					<h3>Temperatura massima interna</h3>
					<div id="termometromaxint" class=termometro></div><br>
					<p class=termometro><h4><span id="termometromaxintdesc"></span>
						<br>
						<span id="termometromaxintdescswatch"></span></h4>
				</div>
				
				<!-- Inizio temperatura minima interna -->
				<div class="col-sm-6">
					<h3>Temperatura minima interna</h3>
					<div id="termometrominint" class=termometro></div><br>
					<p class=termometrodesc><h4> <span id="termometrominintdesc"></span>
						<br>
						<span id="termometrominintdescswatch"></span></h4>
				</div>
			</div>

		</div>	
		<br><br>
		<%= render "footer" %>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="scripts/gettheme.js"></script>
		<script src="jqwidgets/jqxcore.js"></script>
		<script src="jqwidgets/jqxdata.js"></script>
		<script src="jqwidgets/jqxexpander.js"></script>
		<script src="jqwidgets/jqxchart.js"></script>
		<script src="jqwidgets/jqxgauge.js"></script>
		<script src="jqwidgets/jqxtabs.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.4.3/js/jquery.animsition.min.js"></script>
		<script src="./js/tempmaxmin.js"></script>
	</body>
</html>
